/* simon game css */
body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
    background: url("images_Carya%20ovata_wood.jpg") center center no-repeat fixed;
    background-size: cover;
    height: 100%vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#yellow {
    background-color: #cca707;
    border-top: 1rem solid #333;
    border-left: 1rem solid #333;
    border-bottom: 2rem solid #333;
    border-right: 2rem solid #333;
    border-radius: 0px 0px 16.5rem 0px;
}

#red {
    background-color: #9f0f17;
    border-top: 2rem solid #333;
    border-left: 1rem solid #333;
    border-bottom: 1rem solid #333;
    border-right: 2rem solid #333;
    border-radius: 0px 16.5rem 0px 0px;
}

#green {
    background-color: #00a74a;
    border-top: 2rem solid #333;
    border-left: 2rem solid #333;
    border-bottom: 1rem solid #333;
    border-right: 1rem solid #333;
    border-radius: 16.5rem 0px 0px 0px;
}

#blue {
    background-color: #094a8f;
    border-top: 1rem solid #333;
    border-left: 2rem solid #333;
    border-bottom: 2rem solid #333;
    border-right: 1rem solid #333;
    border-radius: 0px 0px 0px 16.5rem;
}

.container {
    margin-top: 3rem;
}

#red,
#green,
#blue,
#yellow {
    display: block;
    height: 17rem;
    width: 17rem;
}

table,
tr,
td {
    border-collapse: collapse;
}

.center {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    border: 1rem solid #333;
    background-color: whitesmoke;
}

#wrapper {
    width: 7.25rem;
    height: 7.25rem;
    position: relative;
}
/*
#second {
    pointer-events: none;
}
*/
#first,
.second {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8.6rem;
    left: 9.3rem;
}

.second {
    z-index: 20;
}
#shorten {
    width: 0%;
    border-radius: 50%;
}

#shorten2 {
    width: 70%;
}

#count {
    height: 2.25rem;
    width: 3.5rem;
    background-color: #333;
    border-radius: 20%;
}

#start {
    height: 2rem;
    width: 2rem;
    border: .25rem solid #333;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: crimson;
    margin-left: .4rem;
    margin-top: .3rem;
}

#strict {
    height: 2rem;
    width: 2rem;
    border: .25rem solid #333;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: yellow;
    margin-left: .35rem;
    margin-top: .22rem;
}

#on {
    height: 1rem;
    width: 1rem;
    background-color: #333;
    margin-left: .6rem;
}

#off {
    height: 1rem;
    width: 1rem;
    background-color: dodgerblue;
}


.inner {
    position: relative;
    top: 0;
    left: 0;
        
}

#count {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 500px) {
    /*#start, #strict, #count */
    .inner, #start, #strict, #count {
        margin-left: 5.25rem;
        height: 2rem;
        width: 2rem;
        text-align: center;
    }
    .container {
        top: 2.5rem;
    }
    #count {
        margin-top: -2rem;
    }
    #simon {
        margin-top: -2.5rem;
        margin-left: 2.75rem;
    }
}

*/

